<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dbrain.recognition">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:usesCleartextTraffic="true">
        <activity android:name=".activities.ClassifiedActivity"/>
        <activity android:name=".activities.RecognizedActivity"/>
        <service android:name=".services.ClassifiedUploaderService"/>
        <service android:name=".services.RecognizedUploadService"/>
    </application>

</manifest>